<!DOCTYPE html>
<html>

<head>
<title>Check MateX</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>Check MateX</h1>

<div id="board"></div>
<div id="promotionBox" class="promotion-box">

<img src="/static/pieces/wq.png" onclick="promote('q')">
<img src="/static/pieces/wr.png" onclick="promote('r')">
<img src="/static/pieces/wb.png" onclick="promote('b')">
<img src="/static/pieces/wn.png" onclick="promote('n')">

</div>

<button onclick="newGame()">Restart</button>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<h2 id="timer">30:00</h2>
</body>

</html>