<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Check MateX</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h1>Check MateX</h1>
 <img src="/static/images/chess_board.png" width="50" height="50">
<br>
<div class="centerBox">
<h3><i>Welcome to the Chess Arena</h3>
<button onclick="startGame()" class="mainBtn">
Start Game
</button>
</div>
<script>
function startGame(){
window.location.href="/mode"
}
</script>
</div>
</body>
</html>

