<!DOCTYPE html>
<html lang="en">
<head>
    <title>Check MateX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1> Check MateX</h1>
<br>
<img src="{{ url_for('static', filename='images/chess_board.png') }}" width="50" height="50">

<div class="auth-container">

<h2>Welcome to Chess Arena.</h2>

<form class="controls">
    <button onclick="goToLogin()">Login</button>
    <button onclick="goToRegister()">Register</button>
</form>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>