<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - Check MateX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">
    <h2>Create Account </h2>

    <form onsubmit="registerUser(event)">
        <input type="text" id="regUsername" placeholder="Username" required>
        <input type="password" id="regPassword" placeholder="Password" required>

        <button type="submit">Register </button>
    </form>

    <p class="auth-link">
        Already have an account? <a href="/login">Login</a>
    </p>
</div>
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>